.background {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(23, 0, 48, 1) 100%
  );
  min-height: 100vh;
  text-align: center;
  padding-top: 80px;
  color: white;
}

.balanceTitle {
  font-size: 70px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  margin-top: 20px;
}

.inputContainer {
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.2);
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.symbol {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Input */
.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button {
  background: rgba(255, 205, 0);
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background:  rgb(255, 187, 0);
}
